Django==4.2.3
environs[django]==9.5.0
djangorestframework==3.14.0
django-cors-headers==4.2.0
drf-spectacular==0.26.4
dj-rest-auth[with_social]==4.0.1
djangorestframework-simplejwt==5.2.2
factory-boy==3.3.0